
@{
    ViewBag.Title = "东方云网 用户首页";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.dongfangyunwang.web.Models
<style>
    .form-inline {
        margin-top: 20px;
    }

        .form-inline .form-group {
            margin-right: 40px;
        }

    .form-group button {
        width: 10%;
    }

    .form-button {
        text-align: right;
        margin-top: 20px;
    }
    .btn-warning {
        margin-left:20px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">首页</li>
        </ol>
    </div>
    <div class="container">
        <div class="navbar">
            <div class="container">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" name="condition" class="form-control" placeholder="搜索">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="submitCodition();">搜索</button>
                </form>
                <form action="/" method="post" class="navbar-form navbar-left">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        按条件搜索
                    </button>
                    <a class="btn btn-warning" href = '/Information/ImportInformationwithSpecificMember">数据录入</a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li> 
                        <button class="btn btn-success" onclick="javascript:window.location.href='/Home/ExportData'">导出当前数据</button>
                    </li>
                </ul>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <div class="container">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>性别</label>
                                <label>男</label>
                                <input type="checkbox" name="man" value="男" />
                                <label>女</label>
                                <input type="checkbox" name="woman" value="女" />
                            </div>
                            <div class="form-group">
                                <label>已婚</label>
                                <input type="checkbox" name="married" value="是" />
                                <label>未婚</label>
                                <input type="checkbox" name="nomarried" value="否" />
                            </div>
                            <div class="form-group">
                                <label>子女</label>
                                <label>有</label>
                                <input type="checkbox" name="haschildren" value="有" />
                                <label>无</label>
                                <input type="checkbox" name="nochildren" value="无" />
                            </div>
                            <div class="form-group">
                                <label>有车</label>
                                <input type="checkbox" name="hascar" value="是" />
                                <label>无车</label>
                                <input type="checkbox" name="nocar" value="否" />
                            </div>
                            <div class="form-group">
                                <label>有房</label>
                                <input type="checkbox" name="hashouse" value="是" />
                                <label>无房</label>
                                <input type="checkbox" name="nohouse" value="否" />
                            </div>
                        </form>
                        <form class="form-inline">
                            <div class="form-group div-agebox">
                                <label>年龄</label>
                                <input type="text" class="form-control" name="min_age" />~
                                <input type="text" class="form-control" name="max_age" />
                            </div>
                            <div class="form-group div-incomebox">
                                <label>年收入</label>
                                <input type="text" class="form-control" name="min_income" />~
                                <input type="text" class="form-control" name="max_income" />
                            </div>
                        </form>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-append date form-datetime">
                                    <label>时间</label>
                                    <input type="date" class="form-control" name="insertTime" />
                                </div>
                            </div>
                        </form>
                        <div class="form-group form-button">
                            <button class="form-control btn-primary" type="button" onclick="submitAdditionalCondition();">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-table">
    </div>

    <script>
        //$(".form-datetime").datetimepicker({
        //    format: "yyyy-mm-dd",
        //    autoclose: true,
        //    minView: "month",
        //    maxView: "decade",
        //    todayBtn: true
        //});

        function submitCodition() {
            $.ajax({
                url: "/Home/Search",
                type: "Get",
                data: { condition: $("input[name='condition']").val() },
                success: function (data) {
                    $('.div-table').html(data);
                }
            });
        }
        function submitAdditionalCondition() {
            var sex = "";
            var ismarried = "";
            var children = "";
            var hascar = "";
            var hashouse = "";

            // 获取性别
            if (($("input[name='man']").is(':checked') && $("input[name='woman']").is(':checked')) || (!$("input[name='man']").is(':checked') && !$("input[name='woman']").is(':checked'))) {
                sex = "";
            }
            else {
                sex = $("input[name='man']").is(':checked') ? $("input[name='man']").val() : $("input[name='woman']").val();
                console.log(sex);
            }

            // 获取婚否
            if (($("input[name='married']").is(':checked') && $("input[name='nomarried']").is(':checked')) || (!$("input[name='married']").is(':checked') && !$("input[name='nomarried']").is(':checked'))) {
                ismarried = "";
            }
            else {
                ismarried = $("input[name='married']").is(':checked') ? $("input[name='married']").val() : $("input[name='nomarried']").val();
                console.log(ismarried);
            }

            // 子女
            if (($("input[name='haschildren']").is(':checked') && $("input[name='nochildren']").is(':checked')) || (!$("input[name='haschildren']").is(':checked') && !$("input[name='nochildren']").is(':checked'))) {
                children = "";
            }
            else {
                children = $("input[name='haschildren']").is(':checked') ? $("input[name='haschildren']").val() : $("input[name='nochildren']").val();
                console.log(children);
            }

            // 是否有车
            if (($("input[name='hascar']").is(':checked') && $("input[name='nocar']").is(':checked')) || (!$("input[name='hascar']").is(':checked') && !$("input[name='nocar']").is(':checked'))) {
                hascar = "";
            }
            else {
                hascar = $("input[name='hascar']").is(':checked') ? $("input[name='hascar']").val() : $("input[name='nocar']").val();
            }

            // 是否有房
            if (($("input[name='hashouse']").is(':checked') && $("input[name='nohouse']").is(':checked')) || (!$("input[name='hashouse']").is(':checked') && !$("input[name='nohouse']").is(':checked'))) {
                hashouse = "";
            }
            else {
                hashouse = $("input[name='hashouse']").is(':checked') ? $("input[name='hashouse']").val() : $("input[name='nohouse']").val();
            }
            $.ajax({
                url: "/Home/Search",
                type: "POST",
                data: {
                    sex: sex,
                    min_age: $("input[name='min_age']").val(),
                    max_age: $("input[name='max_age']").val(),
                    ismarried: ismarried,
                    children: children,
                    hascar: hascar,
                    hashouse: hashouse,
                    min_Income: $("input[name='min_income']").val(),
                    max_Income: $("input[name='max_income']").val(),
                    insertTime: $("input[name='insertTime']").val()
                },
                success: function (data) {
                    $('.div-table').html(data);
                },
                error: function () {
                    alert("查询失败");
                }

            });
        }
        $(document).ready(function () {
            $.ajax({
                url: "/Home/Search",
                type: "GET",
                data: { condition: "" },
                success: function (data) {
                    $('.div-table').html(data);
                }
            });
        })
    </script>
