<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/Content/css/base.css" rel="stylesheet" />

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/js/bootstrapValidator.min.js"></script>
    <style>
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (System.Web.HttpContext.Current.Session["member"] != null)
                {
                    <a href="/Home/Index" class="navbar-brand">东方云网信息收集系统</a>
                }
                else if (System.Web.HttpContext.Current.Session["group"] != null)
                {
                    <a href="/Group/Index" class="navbar-brand">东方云网信息收集系统</a>
                }
                else
                {
                    <a href="/Admin/Index" class="navbar-brand">东方云网信息收集系统</a>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (System.Web.HttpContext.Current.Session["member"] != null)
                    {
                        <li class="nav-li-home">
                            <a href="/Home/Index">首页</a>
                        </li>
                        <li class="nav-li-information">
                            <a href="/Information/ImportInformationwithSpecificMember">数据</a>
                        </li>
                        <li class="nav-li-account">
                            <a href="/Account/ResetPassword">账户</a>
                        </li>
                    }
                    else if (System.Web.HttpContext.Current.Session["group"] != null)
                    {
                        <li class="nav-li-group">
                            <a href="/Group/Index">首页</a>
                        </li>
                        <li class="nav-li-information">
                            <a href="/Information/ImportInformationwithGroupLeader">数据</a>
                        </li>
                        <li class="nav-li-account">
                            <a href="/Account/ResetPassword">账户</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-li-admin">
                            <a href="/Admin/Index">首页</a>
                        </li>
                        <li class="nav-li-follow">
                            <a href="/Follow/Items">跟进设置</a>
                        </li>
                        <li class="nav-li-member">
                            <a href="/Member/List">添加新用户</a>
                        </li>
                        <li class="nav-li-information">
                            <a href="/Information/ImportInformation">数据录入</a>
                        </li>
                        <li class="nav-li-account">
                            <a href="/Account/ResetPassword">账户</a>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Account/Logout">退出登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="min-height:650px;">
            @RenderBody()
        </div>
        <hr />
        <footer class="footer text-muted">
            <p><a href="/数据模板.xls">数据模板下载</a></p>
            <p>&copy; @DateTime.Now.Year 东方云网 版权所有</p>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            var currentController = window.location.pathname.split("/", 2)[1];
            if (currentController == "Admin") {
                $('.nav-li-admin').addClass("active");
            }
            else if (currentController == "Account") {
                $('.nav-li-account').addClass("active");
            }
            else if (currentController == "Group") {
                $('.nav-li-group').addClass("active");
            }
            else if (currentController == "Member") {
                $('.nav-li-member').addClass("active");
            }
            else if (currentController == "Information") {
                $('.nav-li-information').addClass("active");
            }
            else if (currentController == "Follow") {
                $('.nav-li-follow').addClass("active");
            }
        });
    </script>
</body>
</html>
